.balances-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
}

.card {
    position: relative;
    background-color: #1c1c1e;
    border-radius: 1rem;
    padding: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 8rem;
    height: 5rem;
    background-size: cover; /* Aggiungi questa regola */
    background-position: center; /* Aggiungi questa regola */
    background-repeat: no-repeat; /* Aggiungi questa regola */
    overflow: hidden; /* Assicurati che il contenuto non esca dai bordi */
}

.background-image {
    position: absolute;
    top: -1.25rem;
    left: -1.5rem;
    width: 13.8rem;
    height: 10.5rem;
    opacity: 0.2; /* Imposta l'opacità desiderata */
    z-index: 0;
    pointer-events: none; /* Assicurati che l'immagine di sfondo non interferisca con gli eventi di puntamento */
}

.icon{
    width: 3.25rem;
    height: 3.25rem;
    left: 0.7rem;
    top: 0.55rem;
}

.balance-text {
    position: absolute;
    color: white;
    font-size: 1.35rem;
    font-weight: bold;
    text-align: center;
    top: 1.80rem;
    left: 3.75rem;
}

.refresh-all-button {
    background: transparent;
    cursor: pointer;
    font-size: 2em;
    color: #0a84ff;
    background: none;
    border: none;
    position: absolute;
    right: -1rem;
}

.history-button {
    position: absolute;
    background: none;
    border: none;
    color: #0a84ff;
    cursor: pointer;
    top: -1rem;
    width: 4rem;
    height: 4rem;
}

.history-button i{
    font-size: 3rem;
    position: absolute;
    left: 2rem;
}


.play-button {
    position: absolute;
    background: none;
    border: none;
    color: #0a84ff;
    font-size: 3rem;
    cursor: pointer;
    bottom: 9rem;
    left: 2rem;
    height: 5vw;
    width: 5vw;
}

.log-button {
    position: absolute;
    width: 5rem;
    height: 5rem;
    top: 14.5rem;
    left: 0.5rem;
    background: transparent none;
    border: none;
    font-size: 3rem;
    color: #0a84ff;
    cursor: pointer;
}


@media (min-width: 600px) {

    .card {
        position: relative;
        background-color: #1c1c1e;
        border-radius: 1rem;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 17.5rem;
        height: 5rem;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        overflow: hidden;
    }

    .card .background-image {
        position: absolute;
        top: -4.25rem;
        left: -3.5rem;
        width: 28.8rem;
        height: 17.5rem;
        opacity: 0.2;
        z-index: 0;
        pointer-events: none;
    }

    .balance-text {
        position: absolute;
        color: white;
        font-size: 4rem;
        font-weight: bold;
        text-align: center;
        top: -2.5rem;
        left: 4.1rem;
    }

    .refresh-all-button {
        background: transparent;
        cursor: pointer;
        font-size: 2em;
        color: #0a84ff;
        background: none;
        border: none;
        position: absolute;
        right: 1rem;
    }
}

@media (min-width: 1300px){

}
