.balance-detail-screen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    z-index: 1000;
    padding: 20px;
    box-sizing: border-box;
}


.balance-detail-content, .balance-history {
    background-color: transparent;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}


.balance-detail-screen .back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

.balance-detail-screen h2 {
    text-align: center;
    margin-top: 50px;
}

.balance-detail-screen .balance-amount {
    font-size: 5rem;
    text-align: center;
    position: relative;
    top: -3rem;
    font-weight: bold;
}

.balance-history {
    margin-top: 20px;
    padding: 10px;
    background-color: transparent;
    border-radius: 5px;
}

.balance-history h3 {
    margin-bottom: 10px;
}

.balance-history ul {
    list-style-type: none;
    padding: 0;
    position: relative;
    top: -7rem;
    font-size: 1.5rem;
}

.balance-history li {
    margin-bottom: 5px;
}

.refresh-button {
    position: absolute;
    top: 5.65rem;
    right: -2.6rem;
    background: none;
    border: none;
    color: #0a84ff;
    font-size: 2.5rem;
    cursor: pointer;
}

.bet-detail-back-button {
    position: absolute;
    top: 1rem;
    left: -0.5rem;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: #fff;
}

.play-button {
    position: absolute;
    background: none;
    border: none;
    color: #0a84ff;
    font-size: 2.5rem;
    cursor: pointer;
    top: 5.85rem;
    left: -2rem;
    height: 2rem;
    width: 2rem;
}

.balance-history-header {
    position: relative;
    top: -9rem;
    font-size: 1.5rem;
    text-align: center;
}

.balance-history li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.balance-history .history-date {
    text-align: left;
}

.balance-history .history-balance {
    text-align: right;
}

.balance-detail-screen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

.balance-detail-screen .background-image {
    position: absolute;
    top: 0rem;
    right: 0rem;
    bottom: 0rem;
    left: 0rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 54rem;
    opacity: 0.2;
    width: 25rem;
    height: 44rem;
}

.balance-detail-screen .detail-content {
    position: relative;
    z-index: 1;
    padding: 20px;
}

@media (min-width: 600px) {

    .balance-detail-screen .background-image {
        position: absolute;
        top: 0rem;
        right: 0rem;
        bottom: 0;
        left: 0rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 62rem;
        opacity: 0.2;
        width: 44rem;
        height: 44rem;
    }

    .play-button {
        position: absolute;
        background: none;
        border: none;
        color: #0a84ff;
        font-size: 2.5rem;
        cursor: pointer;
        top: 5.85rem;
        left: 0rem;
        height: 2rem;
        width: 2rem;
    }

    .refresh-button {
        position: absolute;
        top: 5.65rem;
        right: -0.2rem;
        background: none;
        border: none;
        color: #0a84ff;
        font-size: 2.5rem;
        cursor: pointer;
    }
}

@media (min-width: 1300px){

}
