#fetch-bets-button{
    position: absolute;
    background: none;
    border: none;
    color: #0a84ff;
    font-size: 2rem;
    cursor: pointer;
    right:5.3rem;
    top:1.5rem;
}

#refresh-bets-button {
    position: absolute;
    background: none;
    border: none;
    color: #0a84ff;
    font-size: 2rem;
    cursor: pointer;
    right: 1.5rem;
    top: 1.5rem;
}

#menu-button{
    position: absolute;
    background: none;
    border: none;
    color: #0a84ff;
    font-size: 2rem;
    cursor: pointer;
    right: -1rem;
    top: 1.5rem;
}

.update-menu.overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    border-radius: 1rem;
    padding: 10px;
    z-index: 3;
    box-shadow: 0rem 0rem 0.5rem white;
}

.menu-item {
    padding: 5px 10px;
    cursor: pointer;
}

.menu-item:hover {
    background-color: #f0f0f0;
}

.no-bets-message {
    text-align: center;
    color: #888;
    font-size: 1.2rem;
    margin-top: 2rem;
    position: absolute;
    top: 25rem;
    left: 5rem;
    opacity: 0.5;
}

.bet-preview {
    display: flex;
    align-items: center;
    background-color: #1c1c1e;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

.bet-preview:hover {
    background-color: #e0e0e0;
}

.site-logo {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.bet-info {
    flex-grow: 1;
}

.bet-amount {
    margin: 5px 0;
    font-weight: normal;
    color: #888;
}

.potential-win{
    margin: 5px 0;
    font-weight: bold;
}

.bet-history-button {
    right: -0.5rem;
    position: absolute;
    background: none;
    border: none;
    color: #0a84ff;
    cursor: pointer;
    bottom: 4.5rem;
    width: 4rem;
    height: 4rem;
}

.bet-history-button i{
    font-size: 2rem
}

.bet-history-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  opacity: 0;
  animation: fadeIn 0.3s forwards;
}

.bet-history-content {
    padding: 1rem;
    border-radius: 10px;
    max-width: 21rem;
    width: 100%;
    box-shadow: 0rem 0rem 0.5rem rgba(255, 255, 255, 1);
    position: relative;
    animation: slideIn 0.3s forwards;
    background: rgba(0, 0, 0, 0.75);
}

.update-menu.overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 19rem;
    background: rgba(0, 0, 0, 0.75);
}

.update-menu-title {
    font-size: 2rem;
    text-align: center;
}

.menu-row {
    display: flex;
    justify-content: center;
    width: 100%;
}

.menu-item {
    padding: 10px;
    cursor: pointer;
    margin: 0 0.8rem;
}

.menu-item img {
    height: 6rem;
}

.bet-history-content {
    max-height: 80vh;
    overflow-y: auto;
}

.scrollable-content {
    overflow-y: auto;
}

.cleanup-button {
    background: none;
    border: none;
    color: #0a84ff;
    font-size: 2rem;
    cursor: pointer;
    position: relative;
    left: 17.7rem;
}

.bet-history-header {
    text-align: center;
    padding-bottom: 0.3rem;
}

@media (min-width: 600px) {

    #fetch-bets-button {
        position: absolute;
        background: none;
        border: none;
        color: #0a84ff;
        font-size: 2rem;
        cursor: pointer;
        right: 7.3rem;
        top: 1.5rem;
    }

    #refresh-bets-button {
        position: absolute;
        background: none;
        border: none;
        color: #0a84ff;
        font-size: 2rem;
        cursor: pointer;
        right: 3.5rem;
        top: 1.5rem;
    }

    #menu-button {
        position: absolute;
        background: none;
        border: none;
        color: #0a84ff;
        font-size: 2rem;
        cursor: pointer;
        right: 1rem;
        top: 1.5rem;
    }
}