.bet-detail-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5rem;
    position: relative;
    left: 4.25rem;
    top: -1.5rem;
    max-height: 7.5rem;
    max-width: 10rem;
}

.bet-detail-content {
    background-color: transparent;
    border-radius: 8px;
    padding-right: 2.5rem;
    position: relative;
    top: -2rem;
}

.event-list {
    list-style-type: none;
    padding: 0;
}

.event-item {
    border-bottom: 1px solid #e0e0e0;
    padding: 0.05rem 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.event-item:last-child {
    border-bottom: none;
}

.event-details {
    flex-grow: 1;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    max-height: 7rem;
}

.event-name {
    margin-bottom: 2px;
    max-width: 15.5rem;
}

.event-date {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 0.9em;
    color: white;
}

.bet-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.bet-stake-odds {
    font-weight: bold;
    position: relative;
    left: 7rem;
    top: -0.25rem;
}

.bet-potential-win {
    font-weight: bold;
    color: #4CAF50;
}

.event-odds {
    align-self: center;
    font-weight: bold;
    position: relative;
    bottom: 2.13rem;
    left: 18.75rem;
    max-width: 3rem;
}

.result {
    font-weight: bold;
    margin-top: 2px;
    position: relative;
    left: 18.25rem;
    bottom: 6.672rem;
    background-color: transparent;
    width: 2.4rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.result.in-play {
    background-color: rgba(0, 128, 0, 0.35);
    color: white;
    border-radius: 3px;
    width: 2.4rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.result.not-started {
    background-color: rgba(128, 0, 0, 0.35);
    color: white;
    border-radius: 3px;
    width: 2.4rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.bet-detail-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1000;
    overflow-y: auto;
    padding-top: 2rem;
    padding-left: 1.25rem;
    transition: transform 0.15s ease-out;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
}

@media (min-width: 600px) {

    .result {
        font-weight: bold;
        margin-top: 2px;
        position: relative;
        left: 37.25rem;
        bottom: 6.672rem;
        background-color: transparent;
        width: 2.4rem;
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }

    .event-odds {
        align-self: center;
        font-weight: bold;
        position: relative;
        bottom: 2.13rem;
        left: 37.6rem;
        max-width: 3rem;
    }

    .bet-potential-win {
        font-weight: bold;
        color: #4CAF50;
        position: relative;
        left: 10.5rem;
    }

    .bet-stake-odds {
        font-weight: bold;
        position: relative;
        left: 18rem;
        top: -0.25rem;
    }

    .bet-detail-back-button {
        position: absolute;
        top: 1rem;
        left: 1.5rem;
        background: none;
        border: none;
        font-size: 2rem;
        cursor: pointer;
        color: #fff;
    }

}
