#fetch-bets-button{
    position: absolute;
    background: none;
    border: none;
    color: #0a84ff;
    font-size: 2rem;
    cursor: pointer;
    right:6rem;
    top:1.5rem;
}

#refresh-bets-button {
    position: absolute;
    background: none;
    border: none;
    color: #0a84ff;
    font-size: 2rem;
    cursor: pointer;
    right: 1.5rem;
    top: 1.5rem;
}

.no-bets-message {
    text-align: center;
    color: #888;
    font-size: 1.2rem;
    margin-top: 2rem;
    position: absolute;
    top: 25rem;
    left: 5rem;
    opacity: 0.5;
}

.bet-preview {
    display: flex;
    align-items: center;
    background-color: #1c1c1e;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

.bet-preview:hover {
    background-color: #e0e0e0;
}

.site-logo {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.bet-info {
    flex-grow: 1;
}

.bet-amount, .bet-status {
    margin: 5px 0;
    font-weight: normal;
    color: #888;
}

.potential-win{
    margin: 5px 0;
    font-weight: bold;
}

.bet-detail-view {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto;
}

.bet-detail-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.close-button {
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.bet-detail-content {
    background-color: #1c1c1e;
    padding: 20px;
    border-radius: 8px;
}

.event-list {
    list-style-type: none;
    padding: 0;
}

.event-item {
    border-bottom: 1px solid #e0e0e0;
    padding: 0.05rem 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.event-item:last-child {
    border-bottom: none;
}

.event-details {
    flex-grow: 1;
}

.event-odds {
    margin-left: 10px;
    align-self: center;
    font-weight: bold;
}

.event-name {
    margin-bottom: 2px;
}

.event-date {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 0.9em;
    color: white;
}

.bet-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.bet-stake-odds {
    font-weight: bold;
}

.bet-potential-win {
    font-weight: bold;
    color: #4CAF50;
}
