.balances-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
}

.card {
    position: relative;
    background-color: #1c1c1e;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.balance-text {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.refresh-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #0a84ff;
    font-size: 24px;
    cursor: pointer;
    z-index: 10;
}

