.balances-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
}

.card {
    position: relative;
    background-color: #1c1c1e;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.balance-text {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.refresh-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #0a84ff;
    font-size: 24px;
    cursor: pointer;
    z-index: 10;
}


.button-container {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.history-button {
    background: none;
    border: none;
    color: #0a84ff;
    font-size: 50px;
    cursor: pointer;
    margin-bottom: 65px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    line-height: 1;
}

.history-button i {
    font-size: 20px;
}

.play-button {
    background: none;
    border: none;
    color: #0a84ff;
    font-size: 20px;
    cursor: pointer;
    margin-top: 75px;
    margin-left: 10px;
}

.log-button {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: none;
    border: none;
    color: #0a84ff;
    font-size: 20px;
    cursor: pointer;
}




