/* styles/bonusLogModal.css */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  opacity: 0;
  animation: fadeIn 0.3s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.modal-content {
  background-color: #1c1c1e;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombra per dare profondità */
  position: relative;
  animation: slideIn 0.3s forwards; /* Animazione di apertura */
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0);
  }
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #ff5c5c; /* Colore rosso per il pulsante di chiusura */
  background: none;
  border: none;
  transition: color 0.3s;
}

.close-button:hover {
  color: #ff1c1c; /* Colore più scuro al passaggio del mouse */
}

.modal-content h2 {
  margin-top: 0;
  color: #fff;
  font-size: 24px;
  text-align: center;
}

.bonus-list {
  list-style: none;
  padding: 0;
  margin: 20px 0 0;
  max-height: 300px;
  overflow-y: auto; /* Scorrimento verticale se necessario */
}

.bonus-list li {
  background-color: #2c2c2e;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
}

.bonus-list li:last-child {
  margin-bottom: 0;
}
