.log-container {
    padding: 10px;
    max-height: 80vh;
    overflow-y: auto;
}

.log-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.log-preview {
    background-color: #1c1c1e;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.log-preview:hover {
    background-color: #2c2c2e;
}

.log-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.log-type, .log-method, .log-status, .log-time {
    margin: 5px 0;
    font-size: 0.9rem;
}

.log-detail-view {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto;
    z-index: 1000;
}

.log-detail-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.close-button {
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.log-detail-content {
    background-color: #1c1c1e;
    padding: 20px;
    border-radius: 8px;
    overflow-y: auto;
}

.log-detail-content pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.log-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.clear-log-button {
    background: none;
    border: none;
    color: #0a84ff;
    font-size: 2rem;
    cursor: pointer;
    position: relative;
    right: -2.6rem;
}

.log-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.log-time, .log-method, .log-status, .log-endpoint {
    margin: 0 5px;
    font-size: 0.9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.log-time { width: 80px; }
.log-method { width: 60px; }
.log-status { width: 65px; }
.log-endpoint { width: calc(100% - 260px); }


@media (min-width: 600px) {

    .clear-log-button {
        background: none;
        border: none;
        color: #0a84ff;
        font-size: 2rem;
        cursor: pointer;
        position: relative;
        right: -0.5rem;
    }

}