.sites-container {
  width: 100%;
}

.spin-box {
  width: calc(100% - 20px) !important;
  margin-bottom: 20px;
  position: relative !important;
  left: auto !important;
  top: auto !important;
  padding-right: 200px;
}


.icon {
  display: inline-block;
  vertical-align: middle;
}

.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spin-button {
  margin-left: auto; /* Assicura che il pulsante di spin sia completamente a destra */
}

.history-button {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #0a84ff;
  font-size: 14px;
  cursor: pointer;
}
