/* src/styles/spinView.css */

.spin-view {
  padding: 20px;
}

.spin-view h1 {
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
}

.refresh-all-button {
  position: absolute;
  top: 120px;
  right: 20px;
  padding: 10px;
  background: none;
  border: none;
  color: #0a84ff;
  font-size: 24px;
  cursor: pointer;
}

.sites-container {
  width: calc(100% - 20px);
  margin-right: 20px;
}


.spin-box {
  width: 100% !important;
  margin-bottom: 20px;
  position: relative !important;
  left: auto !important;
  top: auto !important;
}

.button-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.history-button {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #0a84ff;
  font-size: 14px;
  cursor: pointer;
}

.spin-button {
  color: #0a84ff;
  font-size: 24px;
  cursor: pointer;
}

