/* src/styles/spinView.css */

.spin-view {
  padding: 20px;
}

.spin-view h1 {
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
}

.sites-container {
  width: calc(100% - 20px);
  margin-right: 20px;
}

.spin-box {
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
  position: relative;
  left: auto;
  top: auto;
}

.spin-button {
  color: #0a84ff;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  left: 90%;
  top: 20px;
  background-color: transparent;
  border: none;
}


.view-log-button {
  background: none;
  border: none;
  color: #0a84ff;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.bonus-container{
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.bonus-today {
  background-color: rgba(0, 128, 0, 0.35);
}

@media (max-width: 390px) {
  .spin-button {
    left: 18.8rem;
  }

  .spin-box{
    width: 19.1rem;
  }

  .view-log-button{
    width: 15rem;
  }

  .bonus-value{
    position: absolute;
    width: 15rem;
    top: -3.9rem;
    left: -7.4rem;
  }

  .bonus-label{
    position: absolute;
    top: -6rem;
    left: -7.35rem;
    width: 15rem;
  }
}


